body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 30px 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.price {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
}


/* NAVBAR */
.navbar {
    background: black;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* CART PAGE */
.cart-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.cart-box {
    background: white;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.cart-item button {
    background: crimson;
    font-size: 12px;
    padding: 6px 10px;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.cart-summary h3 {
    margin-bottom: 10px;
}

.danger {
    background: crimson;
}

.danger:hover {
    background: darkred;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.qty-controls button {
    padding: 5px 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}