body {
    font-family: Arial, sans-serif;
    background-color: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: #ffffff96;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.container button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #555;
}

.message {
    margin-top: 10px;
    color: red;
    text-align: center;
}

.success {
    margin-top: 10px;
    color: green;
    text-align: center;
}
html, body{
    background-color: #e4dedeff;
}

.button-secondary {
    display: inline-block;
    padding: 8px 15px;
    background: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.button-secondary:hover {
    background: #333;
}
